@{
    ViewBag.Title = "Equipment";
}
<h2>@ViewBag.Title.</h2>

<p>
    Shampoos: <br>
    <a href="https://ecomutt.ie/collections/shampoo">EcoMutt</a>
    <br>
    <a href="https://www.zooplus.com/shop/dogs/dog_grooming_care">ZooPlus</a>
    <br>
    <a href="https://www.equipetstores.com/dog-accessories/dog-grooming-supplies/dog-shampoo.html">EquiPet</a>
    <br>
    Brushes: <a href="https://www.petstop.ie/dog-products/dog-health-care-grooming/dog-brushes-combs">PetStop</a>
    <br>
    Clippers: <a href="https://www.clippersireland.ie/dog-clipper/">ClippersIreland</a>
    <br>
    Disinfectant: <a href="https://www.medray.ie/veterinary/consumables/disinfection-and-infection-control/">MedRay</a>


</p>