@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    TU Dublin<br />
    Tallaght<br />
    <abbr title="Phone">P:</abbr>
    +353 1 404 2000
</address>

<address>
<strong>Groomer:</strong> <a href="mailto:esther@redoggrooming.com">esther@eldoggrooming.com</a>
</address>